/public/uploads
/storage
/public/theme/yl_kayit_yonetim_paneli/panel/node_modules
.DS_Store
*.gz
duzelt.env
/vendor
/node_modules
/public/hot
/public/vendor/horizon
/public/soap/settings.php
/public/soap/Universite.wsdl
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
